$main-color: #FDFAF5;
$secondary-color: #222333;


$organisms_menu_background: #DED5C5;
$organisms_menu_background_hover: #CBC2B2;
$organisms_menu_font_color: #AF8A17;
$organisms_menu_font_color_hover: #8F7216;